ce_01_prime_array
ce_02_swap_pointers
ce_03_min_max_ternary
ce_04_factorial_parity
ce_05_recursive_digit_sum
ce_06_reverse_array_pointers
ce_07_matrix_diagonals
ce_08_grades_conversion
ce_09_dynamic_array_sum
ce_10_student_management_structs

